body {
    background-color: #f0f2f5;
    font-family: 'Arial', sans-serif;
}

.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.filter-container {
    display:flex;
    padding: 20px;
    width: 100%;
    max-width:inherit;
    margin-top: 60px; /* Adjust margin to account for the fixed filter container */
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: auto;
}

.dashboard-container {
    display:flexbox;
    padding: 20px;
    width: 90%;
    max-width: 1500px;
    margin-top: 60px; /* Adjust margin to account for the fixed filter container */
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3ce3;
    font-size: 2em; /* Make the heading larger */
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 14px;
    table-layout: auto;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    white-space: nowrap;
    overflow: visible;
    text-overflow: clip;
}

th {
    position: sticky;
    top: 60px; /* Adjust according to the filter container height */
    background-color: #2c3ce3;
    color: white;
    z-index: 1;
}

td {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

th:first-child {
    position: sticky;
    left: 0;
    background-color: #2c3ce3;
    z-index: 2;
    color: white;
}

tbody tr {
    transition: background-color 0.3s;
}

tbody tr:hover {
    background-color: #e0e0e0;
}

select {
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #2c3ce3;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1a2a9e;
}
