@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    background: url('/public/footer-alt.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow-y: auto;
    padding-top: 60px; /* Add padding to make space for the fixed navbar */
}

.navbar {
    background-color: #628cda;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin: 0;
    padding: 0;
}

.navbar-item a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navbar-item a:hover {
    background-color: #555;
    color: white;
}

.formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200%;
    min-height: calc(100vh - 30px); /* Adjust for the fixed navbar */
    padding: 20px;
    margin-top: 60px; /* Ensure the content starts below the navbar */
}

.formbold-form-wrapper {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    max-width: 400px; /* Decrease the width of the form */
    width: 100%;
    text-align: center; /* Center align the text */
}

.formbold-form-wrapper h3 {
    margin-bottom: 10px;
}

.formbold-form-wrapper p {
    margin-bottom: 20px;
}
